@font-face {
  font-family: 'Jakarta Sans';
  src: url('PlusJakartaSans-Regular.ttf');
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: clip;
}
* {
  font-family: 'Jakarta Sans', sans-serif;
}
hr {
  width: 80vw;
  height: 2px;
  color: black;
  background-color: black;
}

.container {
  padding: 0;
  height: fit-content;
  width: 90vw;
  margin: 10px 5vw;
  background-color: #ddd;
  border-radius: 10px;
  display: block;
}

.filter-list {
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: clip;
}
.filter-btns {
  height: 25vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: clip;
}
.search-bar {
  height: 25vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: clip;
  padding: 0;
  padding-top: 5%;
}
.search-bar input {
  width: 50%;
  height: 5vh;
  border: none;
  border-bottom: 3px solid black;
  outline: none;
  transition: border-bottom 0.25s ease, width 0.5s ease;
}
.search-bar input:focus {
  transition: border-bottom 0.25s ease, width 0.35s ease;
  width: 80%;
  border-bottom: 3px solid #00bfff;
}

.wallpapers {
  margin: 0;
  padding: 0;
  height: fit-content;
  width: 100vw;
  display: block;
  overflow-y: auto;
  overflow-x: clip;
}
.wallpaper-list {
  text-align: center;
  margin: auto;
  padding: 0;
  height: fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  overflow-y: auto;
  overflow-x: clip;
}
.wallpaper-item {
  position: relative;
  width: 80%;
  margin: 0 10%;
  height: fit-content;
}
.wallpaper-item .wallpaper-download {
  position: relative;
}
.wallpaper-item .download-tooltip {
  transition: bottom 0.5s ease, opacity 0.3s ease;
  position: absolute;
  color: white;
  background-color: rgb(33, 33, 33, 0.5);
  bottom: 25%;
  opacity: 0;
  right: 2%;
  height: fit-content;
  width: fit-content;
  padding: calc(1vw + 1vh);
}
.wallpaper-item:hover .download-tooltip {
  transition: bottom 0.5s ease, opacity 0.65s ease;
  opacity: 1;
  bottom: 5%;
}
.wallpaper-item img {
  width: 100%;
  height: auto;
  max-width: 600px;
}

@media screen and (min-width: 1000px) {
  hr {
    width: 80vw;
    height: 8px;
    color: #262626;
    background-color: #262626;
  }
  .wallpaper-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .wallpaper-list h1 {
    margin-top: 12vh;
  }
  .wallpaper-item img {
    width: 100%;
    height: auto;
    max-width: 400px;
  }
}